<DOCTYPE html>
<html>
    <head>
        <meta lang="ja" charset="utf-8">
        <title>CoffeePay</title>
    </head>
    <body>
        <h1>CoffeePay</h1>
        <hr>
        <h3><%- infomation %></h3>
        <a href="<%= redirect_url %>" target="_blank" rel="noopener noreferrer"><%= redirect_url %></a>
        <script type="text/javascript">
			if (window.open ("<%= redirect_url %>", "_blank")) {
            } else {
                window.location.href = "<%= redirect_url %>";
            }
		</script>
    </body>
</html>