<DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta lang="ja" charset="utf-8">
        <title>CoffeePay</title>
    </head>
    <body>
        <h1>CoffeePay</h1>
        <hr>
        <h3><%- infomation %></h3>
        <a id="redirect" href="<%= redirect_url %>" <%= option %>><%= redirect_url %></a>
        <script type="text/javascript">
            //$('#redirect')[0].click();
            window.location.href='<%= redirect_url %>'
		</script>
    </body>
</html>